<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs')%>  
    <script>
        
    </script>
</head>
<body>

<!--
    <nav class="navbar">
        <ul>
            <li><a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" id="log" >Log Out</a></li>
            <br>
            <li><a type="button" onclick="event.preventDefault(); document.getElementById('userprofile').submit()"id="profile">User Profile</a></li>
           
        </ul>
    </nav>
    <form id="logout-form" action="/logout" method="POST" style="display: none;">
        <input type="hidden" name="_method" value="POST">
        {{ csrf_field() }}
    </form>
    
    <form id="userprofile" action="/userProfile" method="POST" style="display: none;">
        <input type="hidden" name="_method" value="POST">
        {{ csrf_field() }}
    </form>
    -->

    <nav class="navbar">
       <!-- <button type="button" class="btn1" onclick="user(event)">User Profile</button>-->
       <a type="button" class="btn1" href="/userProfile" onclick="onload(event)" >User Profile</a>
       <!--<button type="button" class="btn1"  action="/userProfile" method="get">User Profile</button>-->
         <a type="button" class="btn2" href="/logout" >Log Out</a>
       </nav>


       <form class="form container">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputfirstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="exampleInputfirstName">
        </div>
        <div class="mb-3">
          <label for="exampleInputlastname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="exampleInputlastname">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
       <header>
        <h1><b>TASKS FOR THE DAY</b></h1>
        <br>
        <br>
            <form id="taskform">
                <input type="text" name="taskinput" id="taskinput" placeholder=" Enter your plan for the day">
                <div id="submitTodo"><input type="submit" id="tasksubmit" value="Add Task" onclick="onSubmitToDo(event)"></div>
                <br>
                <span id="errorMsg"></span>

            </form>
          <br>
    
        </header>
        <main>
            <section class="tasklist">
                
                <h1 >MY TO DO LIST </h1>
                <br>
                <button  type="submit" id="del"   onclick="deleted(event)">Delete All</button><br><br>
                <div id="tasks">
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ToDo</th>
                    <th>Action
                    </th>
                    
                </tr>
            </thead>
            <tbody id="toDoBody">
                <% findAllToDo.forEach((index) =>{%>
            
            <tr>
            <td>
                <%= index.id%>
            </td>
            <td>
                <%= index.todo%>
            </td>
            <td>
                <input type="checkbox" title="check" id="checkboxx" onclick="check(this)"
                        <%= index.isDone? 'checked':'' %> >
                        
                        <button id="btn" onclick = "getTodo(this)" data-update = "<%-index.id%>">Update</button></td>
                                    
            </td></tr>

          <% })%>
            </tbody>
        </table>
                </div>
            </section>
            
        </main>
        </div>
       
    
</body>
</html>